{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "jsx-quotes": [2, "prefer-double"],
    operator-linebreak: [2, "after", { "overrides": { "?": "ignore", ":": "ignore"} }],
    "react/jsx-boolean-value": [2, "none"]
  }
}
